In [9]:
import pandas as pd

# Import data

In [10]:
input_data = pd.read_csv("../data/fuel_used_in_electricity_generation_and_electricity_supplied.txt", delimiter="\t", decimal=',')

# Transpose and create columns

In [11]:
data = input_data.set_index('index').T
data['date'] = data.index
data = data.reset_index()
data['year'] = pd.to_numeric(data.date.str.split('-').str[0])
data['quarter'] = pd.to_numeric(data.date.str.split('-').str[1])
data = data.drop(columns=['index'])

data.head()

index,fuel_used_coal,fuel_used_oil,fuel_used_gas,fuel_used_nuclear,fuel_used_hydro,fuel_used_wind_solar,fuel_used_bioenergy,fuel_used_other_fuels,fuel_used_net_imports,fuel_used_total,...,supplied_wind_solar,supplied_of_which_offshore,supplied_bioenergy,supplied_pumped_storage,supplied_other_fuels,supplied_net_imports,supplied_total,date,year,quarter
0,8.73,0.57,5.91,6.03,0.16,0.02,0.27,0.36,0.36,22.41,...,0.21,NaN,0.71,-0.26,1.49,4.21,97.22,1998-1,1998,1
1,6.93,0.38,5.36,5.49,0.07,0.02,0.28,0.34,0.34,19.21,...,0.21,NaN,0.73,-0.23,0.87,3.98,83.08,1998-2,1998,2
2,6.70,0.36,5.41,5.33,0.07,0.02,0.29,0.37,0.07,18.63,...,0.22,NaN,0.75,-0.26,0.81,0.85,79.13,1998-3,1998,3
3,7.75,0.39,6.34,6.27,0.13,0.02,0.30,0.31,0.29,21.80,...,0.23,NaN,0.79,-0.27,0.88,3.43,95.74,1998-4,1998,4
4,7.38,0.51,6.97,6.13,0.16,0.02,0.33,0.37,0.31,22.18,...,0.20,NaN,0.87,-0.28,1.51,3.62,98.97,1999-1,1999,1

# Filter data

In [12]:
data_filtered = data[data.year >= 2010]
data_filtered = data_filtered.reset_index()
data_filtered = data_filtered.drop(columns=['index'])
data_filtered.head()

index,fuel_used_coal,fuel_used_oil,fuel_used_gas,fuel_used_nuclear,fuel_used_hydro,fuel_used_wind_solar,fuel_used_bioenergy,fuel_used_other_fuels,fuel_used_net_imports,fuel_used_total,...,supplied_wind_solar,supplied_of_which_offshore,supplied_bioenergy,supplied_pumped_storage,supplied_other_fuels,supplied_net_imports,supplied_total,date,year,quarter
0,7.64,0.36,8.88,4.08,0.07,0.21,1.05,0.23,-0.15,22.37,...,2.43,0.67,2.70,-0.29,0.60,-1.69,100.69,2010-1,2010,1
1,4.66,0.23,8.44,3.11,0.06,0.14,1.05,0.19,0.12,18.01,...,1.67,0.46,2.66,-0.27,0.63,1.42,83.43,2010-2,2010,2
2,4.83,0.27,7.53,2.92,0.07,0.24,1.10,0.20,0.24,17.39,...,2.77,0.83,2.84,-0.23,0.61,2.76,81.36,2010-3,2010,3
3,8.44,0.32,7.57,3.82,0.11,0.30,1.13,0.17,0.02,21.87,...,3.45,1.10,2.94,-0.28,0.56,0.18,98.91,2010-4,2010,4
4,8.36,0.22,7.00,4.41,0.11,0.29,1.15,0.28,0.09,21.90,...,3.41,1.00,2.99,-0.26,0.70,1.06,98.63,2011-1,2011,1

# Create on-shore columns

In [13]:
data_filtered['generated_wind_solar_onshore'] = data_filtered['generated_wind_solar'] - data_filtered['generated_of_which_offshore']
data_filtered['supplied_wind_solar_onshore'] = data_filtered['supplied_wind_solar'] - data_filtered['supplied_of_which_offshore']

data_filtered.head()

index,fuel_used_coal,fuel_used_oil,fuel_used_gas,fuel_used_nuclear,fuel_used_hydro,fuel_used_wind_solar,fuel_used_bioenergy,fuel_used_other_fuels,fuel_used_net_imports,fuel_used_total,...,supplied_bioenergy,supplied_pumped_storage,supplied_other_fuels,supplied_net_imports,supplied_total,date,year,quarter,generated_wind_solar_onshore,supplied_wind_solar_onshore
0,7.64,0.36,8.88,4.08,0.07,0.21,1.05,0.23,-0.15,22.37,...,2.70,-0.29,0.60,-1.69,100.69,2010-1,2010,1,1.76,1.76
1,4.66,0.23,8.44,3.11,0.06,0.14,1.05,0.19,0.12,18.01,...,2.66,-0.27,0.63,1.42,83.43,2010-2,2010,2,1.21,1.21
2,4.83,0.27,7.53,2.92,0.07,0.24,1.10,0.20,0.24,17.39,...,2.84,-0.23,0.61,2.76,81.36,2010-3,2010,3,1.94,1.94
3,8.44,0.32,7.57,3.82,0.11,0.30,1.13,0.17,0.02,21.87,...,2.94,-0.28,0.56,0.18,98.91,2010-4,2010,4,2.35,2.35
4,8.36,0.22,7.00,4.41,0.11,0.29,1.15,0.28,0.09,21.90,...,2.99,-0.26,0.70,1.06,98.63,2011-1,2011,1,2.41,2.41

# Create non-renewable column

In [14]:
data_filtered['generated_non_renewable'] = data_filtered['generated_total'] - \
    data_filtered['generated_hydro'] - \
    data_filtered['generated_wind_solar'] - \
    data_filtered['generated_bioenergy']

data_filtered['supplied_non_renewable'] = data_filtered['supplied_total'] - \
    data_filtered['supplied_hydro'] - \
    data_filtered['supplied_wind_solar'] - \
    data_filtered['supplied_bioenergy']

data_filtered.head()

index,fuel_used_coal,fuel_used_oil,fuel_used_gas,fuel_used_nuclear,fuel_used_hydro,fuel_used_wind_solar,fuel_used_bioenergy,fuel_used_other_fuels,fuel_used_net_imports,fuel_used_total,...,supplied_other_fuels,supplied_net_imports,supplied_total,date,year,quarter,generated_wind_solar_onshore,supplied_wind_solar_onshore,generated_non_renewable,supplied_non_renewable
0,7.64,0.36,8.88,4.08,0.07,0.21,1.05,0.23,-0.15,22.37,...,0.60,-1.69,100.69,2010-1,2010,1,1.76,1.76,101.94,94.72
1,4.66,0.23,8.44,3.11,0.06,0.14,1.05,0.19,0.12,18.01,...,0.63,1.42,83.43,2010-2,2010,2,1.21,1.21,81.26,78.45
2,4.83,0.27,7.53,2.92,0.07,0.24,1.10,0.20,0.24,17.39,...,0.61,2.76,81.36,2010-3,2010,3,1.94,1.94,76.12,74.90
3,8.44,0.32,7.57,3.82,0.11,0.30,1.13,0.17,0.02,21.87,...,0.56,0.18,98.91,2010-4,2010,4,2.35,2.35,96.57,91.29
4,8.36,0.22,7.00,4.41,0.11,0.29,1.15,0.28,0.09,21.90,...,0.70,1.06,98.63,2011-1,2011,1,2.41,2.41,95.30,90.94

# Remove unwanted columns

In [15]:
data_final = data_filtered.drop(columns=['fuel_used_coal', 'fuel_used_oil', 'fuel_used_gas', 'fuel_used_nuclear', 'fuel_used_other_fuels', 'fuel_used_net_imports', 'generated_coal', 'generated_oil', 'generated_gas', 'generated_nuclear', 'generated_pumped_storage', 'generated_other_fuels', 'supplied_coal', 'supplied_oil', 'supplied_gas', 'supplied_nuclear', 'supplied_pumped_storage', 'supplied_other_fuels', 'supplied_net_imports'])

data_final.head()

index,fuel_used_hydro,fuel_used_wind_solar,fuel_used_bioenergy,fuel_used_total,generated_hydro,generated_wind_solar,generated_of_which_offshore,generated_bioenergy,generated_total,supplied_hydro,...,supplied_of_which_offshore,supplied_bioenergy,supplied_total,date,year,quarter,generated_wind_solar_onshore,supplied_wind_solar_onshore,generated_non_renewable,supplied_non_renewable
0,0.07,0.21,1.05,22.37,0.84,2.43,0.67,2.97,108.18,0.84,...,0.67,2.70,100.69,2010-1,2010,1,1.76,1.76,101.94,94.72
1,0.06,0.14,1.05,18.01,0.65,1.67,0.46,2.93,86.51,0.65,...,0.46,2.66,83.43,2010-2,2010,2,1.21,1.21,81.26,78.45
2,0.07,0.24,1.10,17.39,0.86,2.77,0.83,3.13,82.88,0.85,...,0.83,2.84,81.36,2010-3,2010,3,1.94,1.94,76.12,74.90
3,0.11,0.30,1.13,21.87,1.24,3.45,1.10,3.24,104.50,1.23,...,1.10,2.94,98.91,2010-4,2010,4,2.35,2.35,96.57,91.29
4,0.11,0.29,1.15,21.90,1.30,3.41,1.00,3.36,103.37,1.29,...,1.00,2.99,98.63,2011-1,2011,1,2.41,2.41,95.30,90.94

In [16]:
data_final.dtypes

index
fuel_used_hydro                 float64
fuel_used_wind_solar            float64
fuel_used_bioenergy             float64
fuel_used_total                 float64
generated_hydro                 float64
generated_wind_solar            float64
generated_of_which_offshore     float64
generated_bioenergy             float64
generated_total                 float64
supplied_hydro                  float64
supplied_wind_solar             float64
supplied_of_which_offshore      float64
supplied_bioenergy              float64
supplied_total                  float64
date                             object
year                              int64
quarter                           int64
generated_wind_solar_onshore    float64
supplied_wind_solar_onshore     float64
generated_non_renewable         float64
supplied_non_renewable          float64
dtype: object

# Save dataframe

In [17]:
data_final.to_csv('../data/generation_and_supplied.csv')